---
layout: default
title: Donovan's blog
bodyTag: home
---

{% for post in paginator.posts %}
	
    <article>

    	<header>
        <a href="{{ post.url }}">
          {% if post.imageURL %} 
            <img src="/images/home/{{post.imageURL}}" alt="{{ post.description }}" class="{{ post.cornerStyle }}">
          {% else %}
            <img src="/images/home/default.png" alt="{{ post.description }}" class="{{ post.cornerStyle }}">
          {% endif %}
      	  <h1>{{ post.title }}</h1>
        </a>
    	  <p class="date">{{ post.date | date: "%B %d, %Y" }}</p>
    	</header>
    </article>

{% endfor %}

<!-- Pagination links -->
<nav class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="/" class="previous">&laquo;</a>
    {% else %}
      <a href="/page{{paginator.previous_page}}" class="previous">&laquo;</a>
    {% endif %}
  {% endif %}
  {% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}" class="next ">&raquo;</a>
  {% endif %}
</nav>