---
layout: default
title: Donovan's blog
bodyTag: home
---

{% if paginator.page == 1 %}
  <section class="welcome">
    <section class="image">
      <img src="/images/me.jpeg" alt="Sure it's himself" width="100">
    </section>
    <section class="content">
      <h2>Hi, I'm <a href="/about/">Donovan Hutchinson</a>, a Dublin based user experience designer.</h2>
      <p>This is where I blog about CSS, JavaScript and other front-end development. Follow me <a href="https://twitter.com/donovanh">on Twitter</a> for updates.</p>
    </section>
  </section>
{% endif %}

{% for post in paginator.posts %}
  
    <article>

      <header>
        {% if post.target %}
           <a href="{{ post.target }}">
            {% if post.imageURL %} 
              <img src="/images/home/{{post.imageURL}}" alt="{{ post.description }}" class="{{ post.cornerStyle }}">
            {% else %}
              <img src="/images/home/default.png" alt="{{ post.description }}" class="{{ post.cornerStyle }}">
            {% endif %}
            <h1>{{ post.title }}</h1>
          </a>
          <p class="date">{{ post.date | date: "%B %d, %Y" }} - for <strong>{{ post.targetName }}</strong></p>
        {% else %}
          <a href="{{ post.url }}/">
            {% if post.imageURL %} 
              <img src="/images/home/{{post.imageURL}}" alt="{{ post.description }}" class="{{ post.cornerStyle }}">
            {% else %}
              <img src="/images/home/default.png" alt="{{ post.description }}" class="{{ post.cornerStyle }}">
            {% endif %}
            <h1>{{ post.title }}</h1>
          </a>
          <p class="date">{{ post.date | date: "%B %d, %Y" }}</p>
        {% endif %}
        
      </header>
    </article>

{% endfor %}

<!-- Pagination links -->
<nav class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="/" class="previous">&laquo;</a>
    {% else %}
      <a href="/page{{paginator.previous_page}}" class="previous">&laquo;</a>
    {% endif %}
  {% endif %}
  {% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}" class="next ">&raquo;</a>
  {% endif %}
</nav>

<section style="max-width: 680px; margin: 3em auto 0">{% include hire-notification.html %}</section>