<div id="cardTemplate">
	<div class="personDetails" id="{{ itemkey }}">
		<div class="name"><h1>{{ firstname }} {{ lastname }}</h1></div>
		<div class="meta">
			<p id="cardnumber">Card number: #<span></span></p>
			<p id="joineddate">Joined: 1st January 1980</p>
		</div>
		<div class="stamps">
			<h2>Stamps</h2>
			<span class="stamphtml"></span>
		</div>
		<div class="cardbuttons">
			<button class="close">Close</button>
			<button class="delete grey" id="{{ itemkey }}">Delete this card</a></button>
		</div>
	</div>
</div>