@font-face {
  font-family: "myriad-pro";
  src: url("../fonts/MyriadPro-Regular.otf");
}
.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

@keyframes show-calendar {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Overrides for the date picker */
.daterangepicker {
  box-shadow: none;
  margin-top: 6px;
  font-size: 12px;
  border-radius: 2px;

  &.taller .calendar {
    height: 500px;
  }

  &.range {
    min-width: 134px;
    height: 254px;
    .applyBtn {
      display: none !important;
    }
    .calendar {
      height: 460px;
      display: none !important;
    }
    .inline-timezone {
      display: none;
    }
    &.show-calendar {
      height: 520px;
      width: 420px;
      .calendar {
        display: block !important;
      }
      .applyBtn {
        display: block !important;
      }
      .inline-timezone {
        display: block !important;
      }
    }
  }

  .ranges {
    ul {
      width: 180px;
    }
    li {
      padding: 0.5em 1em;
    }
  }

  &.single {
    .calendar.right {
      display: none !important;
    }
  }

  .applyBtn, .cancelBtn {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }

  .cancelBtn {
    right: 70px;
  }

  .prev i {
    background: url(../images/leftarrow_off@2x.png) center no-repeat;
  }
  .next i {
    background: url(../images/rightarrow_off@2x.png) center no-repeat;
  }
  .prev i,
  .next i {
    font-family: none !important;
    text-indent: -9999px;
    border: 1px solid #639DCD;
    border-radius: 50%;
    background-size: 17px 11px;
    width: 32px !important;
    height: 32px !important;
    padding: 0 !important;
    transition: background-color 0.2s ease-out;
  }
  .prev:hover i,
  .next:hover i {
    border-color: #639DCD;
    background-color: #639DCD;
  }
  .prev:hover i {
    background-image: url(../images/leftarrow_on@2x.png);
  }
  .next:hover i {
    background-image: url(../images/rightarrow_on@2x.png);
  }
  .btn-success {
    color: #fff;
    background-color: #639dcc;
    border-color: #5091c6;
  }
  .daterangepicker_input input, .daterangepicker_input i {
    display: none;
  }
  .calendar {
    height: 430px;
    width: 330px;
    position: relative;
  }
  .calendar th,
  .calendar td {
    width: 38px;
    height: 30px;
    max-width: 32px;
  }
  .daterangepicker_input {
    position: absolute;
    top: 320px;
    width: 100%;
    border-top: 1px solid #eee;
  }
  .inline-timezone {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 60px;
    border-top: 1px solid #eee;
  }
  .inline-timezone label {
    font-size: 10px;
    padding: 10px 0 0 10px;
  }
  .inline-timezone select {
    background: url(../images/chevron@2x.png) 99% / 10px no-repeat #fff !important;
    font-size: 14px;
    margin: 0 10px;
    width: calc(100% - 20px);
  }
  .calendar.right {
    right: -6px;
  }
  .calendar-table {
    background: none;
    border: none;
  }
  .calendar-time {
    text-align: left;
    margin: 0;
    margin-left: -10px;
    padding-top: 24px;
    padding-left: 15px;
    color: #626F77;
    position: relative;
  }
  .calendar-time:before {
    content: "TIME";
    position: absolute;
    top: 0;
    left: 15px;
    font-size: 10px;
  }
  .calendar-time select, .inline-timezone select {
    border: 1px solid #eee;
    background: transparent;
    height: 32px;
    padding: 0 12px;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../images/chevron@2x.png) 90% / 10px no-repeat #fff;
  }
  /*target Internet Explorer 9 and Internet Explorer 10:*/
  @media screen and (min-width: 0\0) {
    select {
      background: none;
      padding: 5px;
    }
  }

  th, td {
    color: #626F77;
    font-weight: normal;
  }
  td {
    position: relative;
    line-height: 27px;
  }
  td.today {
    color: #626F77;
  }
  td:before {
    left: 2px;
    width: 30px;
    height: 30px;
    z-index: -1;
  }
  td:after {
    top: 1px;
    height: 30px;
    z-index: -2;
  }
  td:before,
  td:after {
    content: "";
    position: absolute;
    top: 1px;
    transition: opacity 0.2s ease-out;
  }
  td.today:before,
  td.start-date:before,
  td.end-date:before {
    border: 1px solid #639DCD;
    border-radius: 50%;
  }
  td.start-date,
  td.end-date {
    color: #fff !important;
  }
  td.start-date:before,
  td.end-date:before {
    background-color: #639DCD;
  }
  th.available:hover,
  td.available:hover {
    background: none;
    color: #fff;
  }
  td.available:hover:after {
    background: #C5DBEB;
    right: 0;
    left: 50%;
    width: 30px;
    transform: translateX(-50%);
    border-radius: 50%;
  }
  td.start-date.end-date:hover:after,
  td.start-date.end-date:after {
    background: #fff !important;
  }
  td.start-date:hover:after,
  td.start-date:after {
    left: 50%;
    right: -1px;
    background: #C4DAEC;
  }
  td.end-date:after,
  td.end-date:hover:after {
    right: 50%;
    left: -1px;
    background: #C4DAEC;
  }
  td.today:after,
  td.in-range {
    background: none;
  }
  td.off {
    opacity: 0.4;
  }
  td.in-range:after {
    left: 0px !important;
    right: -1px !important;
    background: #C4DAEC;
  }
  td.in-range:hover:after {
    border-radius: 0 !important;
    left: 0;
    right: 0;
    transform: none;
    width: 102%;
  }
  td.end-date:after,
  td.end-date:hover:after {
    right: 50% !important;
    width: 15px !important;
    transform: translateX(0);
    border-radius: 0;
  }
  td.start-date:after,
  td.start-date:hover:after {
    left: 50% !important;
    width: 18px !important;
    transform: translateX(0);
    border-radius: 0;
  }
  td.in-range:first-child:after {
    border-radius: 50% 0 0 50%;
  }
  td.start-date:not(.in-range):after,
  td.start-date:not(.in-range):hover:after {
    background: none;
  }
  td.start-date + td:after {
    left: -15px !important;
  }
  td.in-range + td.active:after {
    background: #C4DAEC !important;
  }
  td.in-range:last-child:after,
  td.in-range + td:not(.in-range):hover:after {
    left: 0;
    transform: none;
    border-radius: 0 50% 50% 0 !important;
  }
  td.active,
  td.active:hover {
    background: none;
  }
  .table-condensed tr:first-child th {
    padding-bottom: 1em;
  }
}
