header.post {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  perspective: 800px;
}

h1#responsive_headline {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(-50deg);
  -moz-transform: rotateY(-50deg);
  transform: rotateY(-50deg);
  font-size: 8em;
  margin-top: 0;
  padding-top: 0;
}
