.searching {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: none;
}
.searching span {
  display: block;
  font-size: 1.75em;
  line-height: 2em;
}
.searching h2 {
  padding-top: 4em;
  line-height: 1.5em;
}
.searching .nope {
  color: #aaaaaa;
  font-size: 0.75em;
}

dialog {
  color: white;
  background: none;
  width: 100%;
  text-align: center;
  top: 0;
  border: none;
}
dialog span {
  display: block;
  font-size: 1.75em;
  line-height: 2em;
}
dialog h2 {
  padding-top: 4em;
  line-height: 1.5em;
}
dialog .nope {
  color: #aaaaaa;
  font-size: 0.75em;
}
dialog::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
