.bouncer-container a {
  background: url(/images/bouncer.png) no-repeat;
  height: 100px;
  width: 200px;
  left: -50px;
}
.bouncer-container a:hover {
  background-image: url(/images/bouncer-hover.png);
}
.bouncer-container .mask, .bouncer-container .bouncer, .bouncer-container .bounce1, .bouncer-container .bounce2, .bouncer-container .bounce3 {
  display: none;
}
