/* @import compass/reset */
/* HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ========================================================== */
/* =============================================================================
 * HTML5 display definitions
 * ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* =============================================================================
 * Base
 * ========================================================================== */
/* Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design. */
::-moz-selection, ::selection {
  background: #b3d4fc;
  text-shadow: none;
}

a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
/* =============================================================================
 * Typography
 * ========================================================================== */
abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

ins {
  background: #ffff99;
  color: black;
  text-decoration: none;
}

mark {
  background: yellow;
  color: black;
  font-style: italic;
  font-weight: bold;
}

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

/* Improve readability of pre-formatted text */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}
q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* =============================================================================
 * Lists
 * ========================================================================== */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

dd {
  margin: 0 0 0 40px;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
 * Embedded content
 * ========================================================================== */
/* 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440 */
img {
  border: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

/* Correct overflow not hidden in IE9 */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
 * Figures
 * ========================================================================== */
figure, form {
  margin: 0;
}

/* =============================================================================
 * Forms
 * ========================================================================== */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor: pointer;
}

/* 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7 */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

/* 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet) */
button, input {
  line-height: normal;
}

/* 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6) */
button {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* Re-set default cursor for disabled elements */
button[disabled] {
  cursor: default;
}

input[disabled] {
  cursor: default;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* Consistent box sizing and appearance */
/* Remove inner padding and border in FF3/4: h5bp.com/l */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* =============================================================================
 * Tables
 * ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

/* ==|== primary styles =====================================================
 * Author:
 * ========================================================================== */
/* ==|== media queries ======================================================
 * EXAMPLE Media Query for Responsive Design.
 * This example overrides the primary ('mobile first') styles
 * Modify as content requires.
 * ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
/* ==|== non-semantic helper classes ========================================
 * Please define your styles before this section.
 * ========================================================================== */
/* Image replacement */
.ir {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p */
/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}

/* Contain floats: h5bp.com/q */
.clearfix {
  *zoom: 1;
}
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* ==|== print styles =======================================================
 * Print styles.
 * Inlined to avoid required HTTP connection: h5bp.com/r
 * ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a {
    text-decoration: underline;
  }
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* Don't show links for images, or javascript/internal links */
  .ir a:after {
    content: "";
  }

  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr {
    page-break-inside: avoid;
  }

  img {
    page-break-inside: avoid;
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}
/* Mixins to extend what Compass provides */
/* Pygments */
.hll {
  background-color: #ffffcc;
}

.c {
  color: #408080;
  font-style: italic;
}

/* Comment */
.err {
  border: 1px solid red;
}

/* Error */
.k {
  color: green;
  font-weight: bold;
}

/* Keyword */
.o {
  color: #666666;
}

/* Operator */
.cm {
  color: #408080;
  font-style: italic;
}

/* Comment.Multiline */
.cp {
  color: #bc7a00;
}

/* Comment.Preproc */
.c1, .cs {
  color: #408080;
  font-style: italic;
}

/* Comment.Single */
/* Comment.Special */
.gd {
  color: #a00000;
}

/* Generic.Deleted */
.ge {
  font-style: italic;
}

/* Generic.Emph */
.gr {
  color: red;
}

/* Generic.Error */
.gh {
  color: navy;
  font-weight: bold;
}

/* Generic.Heading */
.gi {
  color: #00a000;
}

/* Generic.Inserted */
.go {
  color: gray;
}

/* Generic.Output */
.gp {
  color: navy;
  font-weight: bold;
}

/* Generic.Prompt */
.gs {
  font-weight: bold;
}

/* Generic.Strong */
.gu {
  color: purple;
  font-weight: bold;
}

/* Generic.Subheading */
.gt {
  color: #0040d0;
}

/* Generic.Traceback */
.kc, .kd, .kn {
  color: green;
  font-weight: bold;
}

/* Keyword.Constant */
/* Keyword.Declaration */
/* Keyword.Namespace */
.kp {
  color: green;
}

/* Keyword.Pseudo */
.kr {
  color: green;
  font-weight: bold;
}

/* Keyword.Reserved */
.kt {
  color: #b00040;
}

/* Keyword.Type */
.m {
  color: #666666;
}

/* Literal.Number */
.s {
  color: #ba2121;
}

/* Literal.String */
.na {
  color: #7d9029;
}

/* Name.Attribute */
.nb {
  color: green;
}

/* Name.Builtin */
.nc {
  color: blue;
  font-weight: bold;
}

/* Name.Class */
.no {
  color: #880000;
}

/* Name.Constant */
.nd {
  color: #aa22ff;
}

/* Name.Decorator */
.ni {
  color: #999999;
  font-weight: bold;
}

/* Name.Entity */
.ne {
  color: #d2413a;
  font-weight: bold;
}

/* Name.Exception */
.nf {
  color: blue;
}

/* Name.Function */
.nl {
  color: #a0a000;
}

/* Name.Label */
.nn {
  color: blue;
  font-weight: bold;
}

/* Name.Namespace */
.nt {
  color: green;
  font-weight: bold;
}

/* Name.Tag */
.nv {
  color: #19177c;
}

/* Name.Variable */
.ow {
  color: #aa22ff;
  font-weight: bold;
}

/* Operator.Word */
.w {
  color: #bbbbbb;
}

/* Text.Whitespace */
.mf, .mh, .mi, .mo {
  color: #666666;
}

/* Literal.Number.Float */
/* Literal.Number.Hex */
/* Literal.Number.Integer */
/* Literal.Number.Oct */
.sb, .sc {
  color: #ba2121;
}

/* Literal.String.Backtick */
/* Literal.String.Char */
.sd {
  color: #ba2121;
  font-style: italic;
}

/* Literal.String.Doc */
.s2 {
  color: #ba2121;
}

/* Literal.String.Double */
.se {
  color: #bb6622;
  font-weight: bold;
}

/* Literal.String.Escape */
.sh {
  color: #ba2121;
}

/* Literal.String.Heredoc */
.si {
  color: #bb6688;
  font-weight: bold;
}

/* Literal.String.Interpol */
.sx {
  color: green;
}

/* Literal.String.Other */
.sr {
  color: #bb6688;
}

/* Literal.String.Regex */
.s1 {
  color: #ba2121;
}

/* Literal.String.Single */
.ss {
  color: #19177c;
}

/* Literal.String.Symbol */
.bp {
  color: green;
}

/* Name.Builtin.Pseudo */
.vc, .vg, .vi {
  color: #19177c;
}

/* Name.Variable.Class */
/* Name.Variable.Global */
/* Name.Variable.Instance */
.il {
  color: #666666;
}

/* Literal.Number.Integer.Long */
/* Rhythm defaults */
/* Hit me with the rhythm stick */
* html {
  font-size: 125%;
}

html {
  font-size: 20px;
  line-height: 1.5em;
}

/* Colours */
/* Shadow defaults */
.phone-container {
  position: relative;
  margin: 100px auto;
  width: 251px;
  height: 537px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
  -webkit-animation: elevate-phone 2.5s ease-in-out infinite alternate;
  -moz-animation: elevate-phone 2.5s ease-in-out infinite alternate;
  -o-animation: elevate-phone 2.5s ease-in-out infinite alternate;
  -ms-animation: elevate-phone 2.5s ease-in-out infinite alternate;
  animation: elevate-phone 2.5s ease-in-out infinite alternate;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  transform: translate(0);
}
.phone-container * {
  position: absolute;
  -webkit-transition: all 1500ms;
  -moz-transition: all 1500ms;
  -o-transition: all 1500ms;
  transition: all 1500ms;
}
.phone-container .phone {
  left: 125px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(-80deg);
  -moz-transform: rotateY(-80deg);
  -ms-transform: rotateY(-80deg);
  -o-transform: rotateY(-80deg);
  transform: rotateY(-80deg);
  -webkit-animation: rotate-phone 5s linear infinite;
  -moz-animation: rotate-phone 5s linear infinite;
  -o-animation: rotate-phone 5s linear infinite;
  -ms-animation: rotate-phone 5s linear infinite;
  animation: rotate-phone 5s linear infinite;
}
.phone-container .front {
  width: 251px;
  height: 537px;
  background: url(/images/phone_parts/front.png) no-repeat;
  -webkit-transform: translateX(-125px) rotateY(0deg) translateZ(14px);
  -moz-transform: translateX(-125px) rotateY(0deg) translateZ(14px);
  -ms-transform: translateX(-125px) rotateY(0deg) translateZ(14px);
  -o-transform: translateX(-125px) rotateY(0deg) translateZ(14px);
  transform: translateX(-125px) rotateY(0deg) translateZ(14px);
}
.phone-container .back {
  width: 251px;
  height: 537px;
  background: url(/images/phone_parts/back.png) no-repeat;
  -webkit-transform: translateX(-125px) rotateY(180deg) translateZ(13px);
  -moz-transform: translateX(-125px) rotateY(180deg) translateZ(13px);
  -ms-transform: translateX(-125px) rotateY(180deg) translateZ(13px);
  -o-transform: translateX(-125px) rotateY(180deg) translateZ(13px);
  transform: translateX(-125px) rotateY(180deg) translateZ(13px);
}
.phone-container .left {
  width: 31px;
  height: 537px;
  background: url(/images/phone_parts/left_side.png) no-repeat;
  -webkit-transform: translateX(-138px) rotateY(-90deg);
  -moz-transform: translateX(-138px) rotateY(-90deg);
  -ms-transform: translateX(-138px) rotateY(-90deg);
  -o-transform: translateX(-138px) rotateY(-90deg);
  transform: translateX(-138px) rotateY(-90deg);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.phone-container .left-top {
  background: black;
  width: 29px;
  height: 30px;
  top: 4px;
  -webkit-transform: translateX(-129px) rotateY(-90deg) rotateX(30deg);
  -moz-transform: translateX(-129px) rotateY(-90deg) rotateX(30deg);
  -ms-transform: translateX(-129px) rotateY(-90deg) rotateX(30deg);
  -o-transform: translateX(-129px) rotateY(-90deg) rotateX(30deg);
  transform: translateX(-129px) rotateY(-90deg) rotateX(30deg);
}
.phone-container .left-bottom {
  background: black;
  width: 29px;
  height: 25px;
  -webkit-transform: translateX(-131px) translateY(490px) rotateY(-90deg) rotateX(-30deg);
  -moz-transform: translateX(-131px) translateY(490px) rotateY(-90deg) rotateX(-30deg);
  -ms-transform: translateX(-131px) translateY(490px) rotateY(-90deg) rotateX(-30deg);
  -o-transform: translateX(-131px) translateY(490px) rotateY(-90deg) rotateX(-30deg);
  transform: translateX(-131px) translateY(490px) rotateY(-90deg) rotateX(-30deg);
}
.phone-container .right {
  width: 31px;
  height: 537px;
  background: url(/images/phone_parts/right_side.png) no-repeat;
  -webkit-transform: translateX(105px) rotateY(90deg);
  -moz-transform: translateX(105px) rotateY(90deg);
  -ms-transform: translateX(105px) rotateY(90deg);
  -o-transform: translateX(105px) rotateY(90deg);
  transform: translateX(105px) rotateY(90deg);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.phone-container .right-top {
  background: black;
  width: 29px;
  height: 29px;
  top: 4px;
  -webkit-transform: translateX(98px) rotateY(-90deg) rotateX(-30deg);
  -moz-transform: translateX(98px) rotateY(-90deg) rotateX(-30deg);
  -ms-transform: translateX(98px) rotateY(-90deg) rotateX(-30deg);
  -o-transform: translateX(98px) rotateY(-90deg) rotateX(-30deg);
  transform: translateX(98px) rotateY(-90deg) rotateX(-30deg);
}
.phone-container .right-bottom {
  background: black;
  width: 29px;
  height: 25px;
  -webkit-transform: translateX(100px) translateY(490px) rotateY(-90deg) rotateX(30deg);
  -moz-transform: translateX(100px) translateY(490px) rotateY(-90deg) rotateX(30deg);
  -ms-transform: translateX(100px) translateY(490px) rotateY(-90deg) rotateX(30deg);
  -o-transform: translateX(100px) translateY(490px) rotateY(-90deg) rotateX(30deg);
  transform: translateX(100px) translateY(490px) rotateY(-90deg) rotateX(30deg);
}
.phone-container .shadow {
  width: 250px;
  height: 20px;
  -webkit-transform: translateX(-125px) translateY(530px) rotateX(90deg) translateY(-60px);
  -moz-transform: translateX(-125px) translateY(530px) rotateX(90deg) translateY(-60px);
  -ms-transform: translateX(-125px) translateY(530px) rotateX(90deg) translateY(-60px);
  -o-transform: translateX(-125px) translateY(530px) rotateX(90deg) translateY(-60px);
  transform: translateX(-125px) translateY(530px) rotateX(90deg) translateY(-60px);
  -webkit-box-shadow: 0 60px 60px black;
  -moz-box-shadow: 0 60px 60px black;
  box-shadow: 0 60px 60px black;
  -webkit-animation: lower-shadow 2.5s ease-in-out infinite alternate;
  -moz-animation: lower-shadow 2.5s ease-in-out infinite alternate;
  -o-animation: lower-shadow 2.5s ease-in-out infinite alternate;
  -ms-animation: lower-shadow 2.5s ease-in-out infinite alternate;
  animation: lower-shadow 2.5s ease-in-out infinite alternate;
}

@-webkit-keyframes rotate-phone {
  0% {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0);
  }

  100% {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-moz-keyframes rotate-phone {
  0% {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0);
  }

  100% {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-ms-keyframes rotate-phone {
  0% {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0);
  }

  100% {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes rotate-phone {
  0% {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0);
  }

  100% {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-webkit-keyframes elevate-phone {
  0% {
    bottom: 0;
  }

  100% {
    bottom: 40px;
  }
}

@-moz-keyframes elevate-phone {
  0% {
    bottom: 0;
  }

  100% {
    bottom: 40px;
  }
}

@-ms-keyframes elevate-phone {
  0% {
    bottom: 0;
  }

  100% {
    bottom: 40px;
  }
}

@keyframes elevate-phone {
  0% {
    bottom: 0;
  }

  100% {
    bottom: 40px;
  }
}

@-webkit-keyframes lower-shadow {
  0% {
    margin-top: 0;
  }

  100% {
    margin-top: 40px;
  }
}

@-moz-keyframes lower-shadow {
  0% {
    margin-top: 0;
  }

  100% {
    margin-top: 40px;
  }
}

@-ms-keyframes lower-shadow {
  0% {
    margin-top: 0;
  }

  100% {
    margin-top: 40px;
  }
}

@keyframes lower-shadow {
  0% {
    margin-top: 0;
  }

  100% {
    margin-top: 40px;
  }
}
