/* @import compass/reset */
/* HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ========================================================== */
/* =============================================================================
 * HTML5 display definitions
 * ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* =============================================================================
 * Base
 * ========================================================================== */
/* Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design. */
::-moz-selection, ::selection {
  background: #b3d4fc;
  text-shadow: none;
}

a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
/* =============================================================================
 * Typography
 * ========================================================================== */
abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

ins {
  background: #ffff99;
  color: black;
  text-decoration: none;
}

mark {
  background: yellow;
  color: black;
  font-style: italic;
  font-weight: bold;
}

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

/* Improve readability of pre-formatted text */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}
q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* =============================================================================
 * Lists
 * ========================================================================== */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

dd {
  margin: 0 0 0 40px;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
 * Embedded content
 * ========================================================================== */
/* 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440 */
img {
  border: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

/* Correct overflow not hidden in IE9 */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
 * Figures
 * ========================================================================== */
figure, form {
  margin: 0;
}

/* =============================================================================
 * Forms
 * ========================================================================== */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor: pointer;
}

/* 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7 */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

/* 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet) */
button, input {
  line-height: normal;
}

/* 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6) */
button {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* Re-set default cursor for disabled elements */
button[disabled] {
  cursor: default;
}

input[disabled] {
  cursor: default;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* Consistent box sizing and appearance */
/* Remove inner padding and border in FF3/4: h5bp.com/l */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* =============================================================================
 * Tables
 * ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

/* ==|== primary styles =====================================================
 * Author:
 * ========================================================================== */
/* ==|== media queries ======================================================
 * EXAMPLE Media Query for Responsive Design.
 * This example overrides the primary ('mobile first') styles
 * Modify as content requires.
 * ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
/* ==|== non-semantic helper classes ========================================
 * Please define your styles before this section.
 * ========================================================================== */
/* Image replacement */
.ir {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p */
/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}

/* Contain floats: h5bp.com/q */
.clearfix {
  *zoom: 1;
}
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* ==|== print styles =======================================================
 * Print styles.
 * Inlined to avoid required HTTP connection: h5bp.com/r
 * ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a {
    text-decoration: underline;
  }
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* Don't show links for images, or javascript/internal links */
  .ir a:after {
    content: "";
  }

  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr {
    page-break-inside: avoid;
  }

  img {
    page-break-inside: avoid;
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}
/* Mixins to extend what Compass provides */
/* Pygments */
.hll {
  background-color: #ffffcc;
}

.c {
  color: #408080;
  font-style: italic;
}

/* Comment */
.err {
  border: 1px solid red;
}

/* Error */
.k {
  color: green;
  font-weight: bold;
}

/* Keyword */
.o {
  color: #666666;
}

/* Operator */
.cm {
  color: #408080;
  font-style: italic;
}

/* Comment.Multiline */
.cp {
  color: #bc7a00;
}

/* Comment.Preproc */
.c1, .cs {
  color: #408080;
  font-style: italic;
}

/* Comment.Single */
/* Comment.Special */
.gd {
  color: #a00000;
}

/* Generic.Deleted */
.ge {
  font-style: italic;
}

/* Generic.Emph */
.gr {
  color: red;
}

/* Generic.Error */
.gh {
  color: navy;
  font-weight: bold;
}

/* Generic.Heading */
.gi {
  color: #00a000;
}

/* Generic.Inserted */
.go {
  color: gray;
}

/* Generic.Output */
.gp {
  color: navy;
  font-weight: bold;
}

/* Generic.Prompt */
.gs {
  font-weight: bold;
}

/* Generic.Strong */
.gu {
  color: purple;
  font-weight: bold;
}

/* Generic.Subheading */
.gt {
  color: #0040d0;
}

/* Generic.Traceback */
.kc, .kd, .kn {
  color: green;
  font-weight: bold;
}

/* Keyword.Constant */
/* Keyword.Declaration */
/* Keyword.Namespace */
.kp {
  color: green;
}

/* Keyword.Pseudo */
.kr {
  color: green;
  font-weight: bold;
}

/* Keyword.Reserved */
.kt {
  color: #b00040;
}

/* Keyword.Type */
.m {
  color: #666666;
}

/* Literal.Number */
.s {
  color: #ba2121;
}

/* Literal.String */
.na {
  color: #7d9029;
}

/* Name.Attribute */
.nb {
  color: green;
}

/* Name.Builtin */
.nc {
  color: blue;
  font-weight: bold;
}

/* Name.Class */
.no {
  color: #880000;
}

/* Name.Constant */
.nd {
  color: #aa22ff;
}

/* Name.Decorator */
.ni {
  color: #999999;
  font-weight: bold;
}

/* Name.Entity */
.ne {
  color: #d2413a;
  font-weight: bold;
}

/* Name.Exception */
.nf {
  color: blue;
}

/* Name.Function */
.nl {
  color: #a0a000;
}

/* Name.Label */
.nn {
  color: blue;
  font-weight: bold;
}

/* Name.Namespace */
.nt {
  color: green;
  font-weight: bold;
}

/* Name.Tag */
.nv {
  color: #19177c;
}

/* Name.Variable */
.ow {
  color: #aa22ff;
  font-weight: bold;
}

/* Operator.Word */
.w {
  color: #bbbbbb;
}

/* Text.Whitespace */
.mf, .mh, .mi, .mo {
  color: #666666;
}

/* Literal.Number.Float */
/* Literal.Number.Hex */
/* Literal.Number.Integer */
/* Literal.Number.Oct */
.sb, .sc {
  color: #ba2121;
}

/* Literal.String.Backtick */
/* Literal.String.Char */
.sd {
  color: #ba2121;
  font-style: italic;
}

/* Literal.String.Doc */
.s2 {
  color: #ba2121;
}

/* Literal.String.Double */
.se {
  color: #bb6622;
  font-weight: bold;
}

/* Literal.String.Escape */
.sh {
  color: #ba2121;
}

/* Literal.String.Heredoc */
.si {
  color: #bb6688;
  font-weight: bold;
}

/* Literal.String.Interpol */
.sx {
  color: green;
}

/* Literal.String.Other */
.sr {
  color: #bb6688;
}

/* Literal.String.Regex */
.s1 {
  color: #ba2121;
}

/* Literal.String.Single */
.ss {
  color: #19177c;
}

/* Literal.String.Symbol */
.bp {
  color: green;
}

/* Name.Builtin.Pseudo */
.vc, .vg, .vi {
  color: #19177c;
}

/* Name.Variable.Class */
/* Name.Variable.Global */
/* Name.Variable.Instance */
.il {
  color: #666666;
}

/* Literal.Number.Integer.Long */
/* Rhythm defaults */
/* Hit me with the rhythm stick */
* html {
  font-size: 125%;
}

html {
  font-size: 20px;
  line-height: 1.5em;
}

/* Colours */
/* Shadow defaults */
/*
 *Google Code style (c) Aahan Krish <geekpanth3r@gmail.com> */
pre code {
  display: block;
  padding: 0.5em;
  background: white;
  color: black;
}
pre .comment, pre .template_comment, pre .javadoc, pre .comment * {
  color: #880000;
}
pre .keyword, pre .method, pre .list .title, pre .clojure .built_in, pre .nginx .title, pre .tag .title, pre .setting .value, pre .winutils, pre .tex .command, pre .http .title, pre .request, pre .status {
  color: #000088;
}
pre .envvar, pre .tex .special {
  color: #666600;
}
pre .string, pre .tag .value, pre .cdata, pre .filter .argument, pre .attr_selector, pre .apache .cbracket, pre .date, pre .regexp {
  color: #008800;
}
pre .sub .identifier, pre .pi {
  color: #006666;
}
pre .tag {
  color: #006666;
}
pre .tag .keyword {
  color: #006666;
}
pre .decorator, pre .ini .title, pre .shebang, pre .input_number, pre .hexcolor, pre .rules .value, pre .css .value .number, pre .literal, pre .symbol, pre .ruby .symbol .string, pre .number, pre .css .function, pre .clojure .attribute {
  color: #006666;
}
pre .class .title, pre .haskell .type, pre .smalltalk .class, pre .javadoctag, pre .yardoctag, pre .phpdoc, pre .typename, pre .tag .attribute, pre .doctype, pre .class .id, pre .built_in, pre .setting, pre .params, pre .variable, pre .clojure .title {
  color: #660066;
}
pre .css .tag, pre .rules .property, pre .pseudo, pre .subst {
  color: black;
}
pre .css .class, pre .css .id {
  color: #9b703f;
}
pre .value .important {
  color: #ff7700;
  font-weight: bold;
}
pre .rules .keyword {
  color: #c5af75;
}
pre .annotation, pre .apache .sqbracket, pre .nginx .built_in {
  color: #9b859d;
}
pre .preprocessor {
  color: #444444;
}
pre .preprocessor * {
  color: #444444;
}
pre .tex .formula {
  background-color: #eeeeee;
  font-style: italic;
}
pre .diff .header, pre .chunk {
  color: gray;
  font-weight: bold;
}
pre .diff .change {
  background-color: #bccff9;
}
pre .addition {
  background-color: #baeeba;
}
pre .deletion {
  background-color: #ffc8bd;
}
pre .comment .yardoctag {
  font-weight: bold;
}

* {
  /* Some font love */
  -webkit-font-smoothing: antialiased;
}

html {
  font-family: "PT Serif", Georgia, Times, "Times New Roman", serif;
  text-shadow: 0 -1px 0 white;
  color: #2c3437;
}

body {
  margin: 0;
  background-color: #2c3437;
  border-top: 20px solid #2c3437;
}

/* Headings */
h1 {
  font-size: 2em;
  line-height: 1.5em;
}

/* Links */
a {
  color: #113355;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}
a:visited, a:active {
  color: #113355;
}
a:hover {
  color: #0066aa;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

acronym {
  border-bottom: 1px dashed #2c3437;
}
acronym:hover {
  cursor: help;
}

input {
  background-color: white;
  font-size: 0.8em;
  line-height: 1.875em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 4px 14px;
  display: inline-block;
  border: 2px solid #dddddd;
}

img.bordered {
  border: 2px solid #2c3437;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

img.left {
  float: left;
  margin: 10px 20px 10px 0;
}

/* Page structure */
.page-container {
  background-color: #ffffee;
  padding-bottom: 20px;
}

.page, header, footer {
  max-width: 720px;
  margin: 0 auto;
}

.page-container {
  border-bottom: 2px solid white;
}

header {
  min-height: 120px;
  position: relative;
}

footer {
  padding-bottom: 40px;
  background-color: #2c3437;
  z-index: 10;
}
footer p {
  color: #ffffee;
  text-shadow: none;
  padding-top: 1.5em;
  margin: 0;
}
footer a, footer a:visited {
  color: white;
}

/* Post layout bits */
article header {
  min-height: 0;
}
article header .date {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  margin-top: -36px;
  color: #888888;
}

section.content, section.footer-content {
  width: 100%;
  float: left;
  padding-right: 5%;
}

section.footer-content {
  z-index: 10;
}

sidebar {
  width: 20%;
  float: right;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}
sidebar:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}
sidebar p {
  margin-top: 3em;
  font-size: 0.9em;
  line-height: 1.66667em;
  color: #888888;
}

.entry {
  z-index: 4;
}
.entry aside {
  border-style: dashed;
  border-width: 0.05em;
  padding: 1.45em;
}

.tags ul {
  padding: 0;
  margin: 0;
  margin-bottom: 1.5em;
}
.tags li {
  list-style: none;
  display: inline-block;
  font-size: 0.8em;
  line-height: 1.875em;
  margin: 0;
}
.tags li a {
  color: #2c3437;
}

.sharing ul {
  padding: 0;
}
.sharing li {
  list-style: none;
  display: inline-block;
  background-color: #dddddd;
  border: 1px solid white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 8px;
  z-index: 5;
  position: relative;
  font-size: 0.8em;
  line-height: 1.875em;
  margin: 0;
}
.sharing li::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 4px solid #cccccc;
  z-index: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.sharing li a {
  color: #2c3437;
}

code {
  background-color: white;
  font-size: 0.8em;
  line-height: 1.875em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 0 8px;
  display: inline-block;
  border: 1px solid #eeeeee;
  font-family: "Source Code Pro", sans-serif;
}

pre code {
  padding: 10px 16px;
  tab-size: 2;
}

.example-with-code .left {
  width: 50%;
  float: left;
}
.example-with-code .right {
  width: 50%;
  float: left;
}
.example-with-code .right pre {
  margin: 0;
  height: 190px;
}
.example-with-code .right pre code {
  padding: 5px 8px;
  font-size: 14px;
  height: 100%;
  overflow: auto;
}

/* Nav for post pages */
nav.pagination {
  padding: 50px 10px 24px 10px;
  font-style: italic;
  position: relative;
}
nav.pagination .previous {
  position: absolute;
  left: 0;
  top: 50px;
}
nav.pagination .previous:before {
  content: "\00ab\00a0";
}
nav.pagination .page_number {
  text-align: center;
  display: inline-block;
  width: 100%;
}
nav.pagination .next {
  position: absolute;
  right: 0;
  top: 50px;
}
nav.pagination .next:after {
  content: "\00a0\00bb";
}

.bouncer-container * {
  position: absolute;
}

.bouncer-container {
  position: absolute;
  margin: 0;
  width: 200px;
  height: 100px;
  top: 80px;
}
.bouncer-container a {
  text-indent: -9999px;
  z-index: 0;
}
.bouncer-container a:hover .bouncer {
  background-color: #0066aa;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
}
.bouncer-container a:hover .ear1, .bouncer-container a:hover .ear2 {
  background-color: #0066aa;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}
.bouncer-container .mask {
  width: 200px;
  height: 38px;
  position: absolute;
  top: 42px;
  left: -50px;
  background-color: #ffffee;
  z-index: 1;
}
.bouncer-container .bouncer {
  top: 21px;
  left: -50px;
  width: 50px;
  height: 60px;
  background-color: #2c3437;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  -webkit-border-radius: 25px 30px;
  -moz-border-radius: 25px / 30px;
  border-radius: 25px / 30px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  z-index: 2;
}
.bouncer-container .bouncer-end-position {
  top: 10px;
  left: 104px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.bouncer-container .ear1, .bouncer-container .ear2 {
  width: 8px;
  height: 28px;
  background-color: #2c3437;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  -webkit-border-radius: 50% 50%;
  -moz-border-radius: 50% / 50%;
  border-radius: 50% / 50%;
}
.bouncer-container .ear1 {
  top: -12px;
  left: 10px;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
.bouncer-container .ear2 {
  top: -12px;
  right: 10px;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg);
}
.bouncer-container .eye1, .bouncer-container .eye2 {
  top: 10px;
  left: 20px;
  background-color: #ffffee;
  width: 5px;
  height: 6px;
  -webkit-border-radius: 50% 50%;
  -moz-border-radius: 50% / 50%;
  border-radius: 50% / 50%;
}
.bouncer-container .eye1 {
  top: 12px;
  left: 22px;
}
.bouncer-container .eye2 {
  top: 12px;
  left: 32px;
}
.bouncer-container .mouth {
  top: 24px;
  left: 22px;
  width: 15px;
  height: 8px;
  background-color: #ffffee;
  -moz-border-radius-bottomleft: 25px;
  -webkit-border-bottom-left-radius: 25px;
  border-bottom-left-radius: 25px;
  -moz-border-radius-bottomright: 25px;
  -webkit-border-bottom-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.bouncer-container .bounce1::before, .bouncer-container .bounce2::before, .bouncer-container .bounce3::before, .bouncer-container .bounce3::after {
  z-index: -2;
}
.bouncer-container .bounce1 {
  top: 47px;
  left: -49px;
  width: 70px;
  height: 80px;
  background-color: #2c3437;
  -webkit-border-radius: 50% 50%;
  -moz-border-radius: 50% / 50%;
  border-radius: 50% / 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=5);
  opacity: 0.05;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg);
}
.bouncer-container .bounce1::before {
  content: " ";
  position: absolute;
  background-color: #ffffee;
  top: 7px;
  width: 78px;
  height: 85px;
  -webkit-border-radius: 50% 50%;
  -moz-border-radius: 50% / 50%;
  border-radius: 50% / 50%;
}
.bouncer-container .bounce2 {
  top: 43px;
  left: 20px;
  width: 70px;
  height: 80px;
  background-color: #2c3437;
  -webkit-border-radius: 50% 50%;
  -moz-border-radius: 50% / 50%;
  border-radius: 50% / 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  opacity: 0.15;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg);
}
.bouncer-container .bounce2::before {
  content: " ";
  position: absolute;
  background-color: #ffffee;
  top: 7px;
  left: -1px;
  width: 76px;
  height: 85px;
  -webkit-border-radius: 50% 50%;
  -moz-border-radius: 50% / 50%;
  border-radius: 50% / 50%;
}
.bouncer-container .bounce3 {
  top: 47px;
  left: 88px;
  width: 70px;
  height: 80px;
  background-color: #2c3437;
  -webkit-border-radius: 50% 50%;
  -moz-border-radius: 50% / 50%;
  border-radius: 50% / 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  transform: rotate(25deg);
}
.bouncer-container .bounce3::before {
  content: " ";
  position: absolute;
  background-color: #ffffee;
  top: 9px;
  left: -1px;
  width: 76px;
  height: 85px;
  -webkit-border-radius: 50% 50%;
  -moz-border-radius: 50% / 50%;
  border-radius: 50% / 50%;
}
.bouncer-container .bounce3::after {
  content: " ";
  position: absolute;
  background-color: #ffffee;
  top: -28px;
  left: -9px;
  width: 100px;
  height: 60px;
  -webkit-border-radius: 50% 50%;
  -moz-border-radius: 50% / 50%;
  border-radius: 50% / 50%;
}

/* Override for older browsers */
html.no-js .bouncer-container a {
  background: url(/images/bouncer.png) no-repeat;
  height: 100px;
  width: 220px;
  left: -50px;
  top: -10px;
}
html.no-js .bouncer-container a:hover {
  background-image: url(/images/bouncer-hover.png);
}
html.no-js .bouncer-container .mask, html.no-js .bouncer-container .bouncer, html.no-js .bouncer-container .bounce1, html.no-js .bouncer-container .bounce2, html.no-js .bouncer-container .bounce3 {
  display: none;
}

.move-mask {
  -webkit-animation: move-box 2s forwards;
  -moz-animation: move-box 2s forwards;
  -o-animation: move-box 2s forwards;
  -ms-animation: move-box 2s forwards;
  animation: move-box 2s forwards;
}

.move-bouncer {
  -webkit-animation: move-bouncer 2s forwards;
  -moz-animation: move-bouncer 2s forwards;
  -o-animation: move-bouncer 2s forwards;
  -ms-animation: move-bouncer 2s forwards;
  animation: move-bouncer 2s forwards;
}

@-webkit-keyframes move-box {
  29%, 32% {
    left: 21px;
  }

  62%, 65% {
    left: 91px;
    width: 100px;
  }

  96%, 100% {
    left: 161px;
    width: 10px;
  }
}

@-moz-keyframes move-box {
  29%, 32% {
    left: 21px;
  }

  62%, 65% {
    left: 91px;
    width: 100px;
  }

  96%, 100% {
    left: 161px;
    width: 10px;
  }
}

@-ms-keyframes move-box {
  29%, 32% {
    left: 21px;
  }

  62%, 65% {
    left: 91px;
    width: 100px;
  }

  96%, 100% {
    left: 161px;
    width: 10px;
  }
}

@keyframes move-box {
  29%, 32% {
    left: 21px;
  }

  62%, 65% {
    left: 91px;
    width: 100px;
  }

  96%, 100% {
    left: 161px;
    width: 10px;
  }
}

@-webkit-keyframes move-bouncer {
  0% {
    height: 40px;
    -webkit-border-radius: 25px 20px;
    -moz-border-radius: 25px / 20px;
    border-radius: 25px / 20px;
    top: 42px;
  }

  15% {
    top: 0;
    height: 60px;
    -webkit-border-radius: 25px 30px;
    -moz-border-radius: 25px / 30px;
    border-radius: 25px / 30px;
  }

  30%, 33% {
    top: 42px;
    left: 21px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    height: 40px;
    -webkit-border-radius: 25px 20px;
    -moz-border-radius: 25px / 20px;
    border-radius: 25px / 20px;
  }

  45% {
    top: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    height: 60px;
    -webkit-border-radius: 25px 30px;
    -moz-border-radius: 25px / 30px;
    border-radius: 25px / 30px;
  }

  63%, 64% {
    top: 42px;
    left: 91px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    height: 40px;
    -webkit-border-radius: 25px 20px;
    -moz-border-radius: 25px / 20px;
    border-radius: 25px / 20px;
  }

  74%, 100% {
    top: 10px;
    left: 104px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    height: 60px;
    -webkit-border-radius: 25px 30px;
    -moz-border-radius: 25px / 30px;
    border-radius: 25px / 30px;
  }
}

@-moz-keyframes move-bouncer {
  0% {
    height: 40px;
    -webkit-border-radius: 25px 20px;
    -moz-border-radius: 25px / 20px;
    border-radius: 25px / 20px;
    top: 42px;
  }

  15% {
    top: 0;
    height: 60px;
    -webkit-border-radius: 25px 30px;
    -moz-border-radius: 25px / 30px;
    border-radius: 25px / 30px;
  }

  30%, 33% {
    top: 42px;
    left: 21px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    height: 40px;
    -webkit-border-radius: 25px 20px;
    -moz-border-radius: 25px / 20px;
    border-radius: 25px / 20px;
  }

  45% {
    top: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    height: 60px;
    -webkit-border-radius: 25px 30px;
    -moz-border-radius: 25px / 30px;
    border-radius: 25px / 30px;
  }

  63%, 64% {
    top: 42px;
    left: 91px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    height: 40px;
    -webkit-border-radius: 25px 20px;
    -moz-border-radius: 25px / 20px;
    border-radius: 25px / 20px;
  }

  74%, 100% {
    top: 10px;
    left: 104px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    height: 60px;
    -webkit-border-radius: 25px 30px;
    -moz-border-radius: 25px / 30px;
    border-radius: 25px / 30px;
  }
}

@-ms-keyframes move-bouncer {
  0% {
    height: 40px;
    -webkit-border-radius: 25px 20px;
    -moz-border-radius: 25px / 20px;
    border-radius: 25px / 20px;
    top: 42px;
  }

  15% {
    top: 0;
    height: 60px;
    -webkit-border-radius: 25px 30px;
    -moz-border-radius: 25px / 30px;
    border-radius: 25px / 30px;
  }

  30%, 33% {
    top: 42px;
    left: 21px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    height: 40px;
    -webkit-border-radius: 25px 20px;
    -moz-border-radius: 25px / 20px;
    border-radius: 25px / 20px;
  }

  45% {
    top: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    height: 60px;
    -webkit-border-radius: 25px 30px;
    -moz-border-radius: 25px / 30px;
    border-radius: 25px / 30px;
  }

  63%, 64% {
    top: 42px;
    left: 91px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    height: 40px;
    -webkit-border-radius: 25px 20px;
    -moz-border-radius: 25px / 20px;
    border-radius: 25px / 20px;
  }

  74%, 100% {
    top: 10px;
    left: 104px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    height: 60px;
    -webkit-border-radius: 25px 30px;
    -moz-border-radius: 25px / 30px;
    border-radius: 25px / 30px;
  }
}

@keyframes move-bouncer {
  0% {
    height: 40px;
    -webkit-border-radius: 25px 20px;
    -moz-border-radius: 25px / 20px;
    border-radius: 25px / 20px;
    top: 42px;
  }

  15% {
    top: 0;
    height: 60px;
    -webkit-border-radius: 25px 30px;
    -moz-border-radius: 25px / 30px;
    border-radius: 25px / 30px;
  }

  30%, 33% {
    top: 42px;
    left: 21px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    height: 40px;
    -webkit-border-radius: 25px 20px;
    -moz-border-radius: 25px / 20px;
    border-radius: 25px / 20px;
  }

  45% {
    top: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    height: 60px;
    -webkit-border-radius: 25px 30px;
    -moz-border-radius: 25px / 30px;
    border-radius: 25px / 30px;
  }

  63%, 64% {
    top: 42px;
    left: 91px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    height: 40px;
    -webkit-border-radius: 25px 20px;
    -moz-border-radius: 25px / 20px;
    border-radius: 25px / 20px;
  }

  74%, 100% {
    top: 10px;
    left: 104px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    height: 60px;
    -webkit-border-radius: 25px 30px;
    -moz-border-radius: 25px / 30px;
    border-radius: 25px / 30px;
  }
}

/* Apple logo colours */
.apple, .butt:before, .top span:after, .butt:after {
  background: #2c3437;
}
.apple .top, .butt:before .top, .top span:after .top, .butt:after .top {
  background: #415259;
}
.apple .top span, .butt:before .top span, .top span:after .top span, .butt:after .top span {
  background: #415259;
}
.apple .top:before, .apple .top:after, .butt:before .top:before, .butt:before .top:after, .top span:after .top:before, .top span:after .top:after, .butt:after .top:before, .butt:after .top:after {
  background: #2c3437;
}
.apple .butt, .butt:before .butt, .top span:after .butt, .butt:after .butt {
  background: #415259;
}
.apple .butt span, .butt:before .butt span, .top span:after .butt span, .butt:after .butt span {
  background: #415259;
}
.apple .butt:before, .apple .butt:after, .butt:before .butt:before, .butt:before .butt:after, .top span:after .butt:before, .top span:after .butt:after, .butt:after .butt:before, .butt:after .butt:after {
  background: #2c3437;
}
.apple .bite, .butt:before .bite, .top span:after .bite, .butt:after .bite {
  background: #415259;
}

.apple.colour {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #60bb44), color-stop(16.66667%, #60bb44), color-stop(16.66667%, #fcb827), color-stop(33.33333%, #fcb827), color-stop(33.33333%, #f6821f), color-stop(50%, #f6821f), color-stop(50%, #df3a3e), color-stop(66.66667%, #df3a3e), color-stop(66.66667%, #963d97), color-stop(83.33333%, #963d97), color-stop(83.33333%, #029ddd), color-stop(100%, #029ddd));
  background-image: -webkit-linear-gradient(#60bb44 0%, #60bb44 16.66667%, #fcb827 16.66667%, #fcb827 33.33333%, #f6821f 33.33333%, #f6821f 50%, #df3a3e 50%, #df3a3e 66.66667%, #963d97 66.66667%, #963d97 83.33333%, #029ddd 83.33333%, #029ddd 100%);
  background-image: -moz-linear-gradient(#60bb44 0%, #60bb44 16.66667%, #fcb827 16.66667%, #fcb827 33.33333%, #f6821f 33.33333%, #f6821f 50%, #df3a3e 50%, #df3a3e 66.66667%, #963d97 66.66667%, #963d97 83.33333%, #029ddd 83.33333%, #029ddd 100%);
  background-image: -o-linear-gradient(#60bb44 0%, #60bb44 16.66667%, #fcb827 16.66667%, #fcb827 33.33333%, #f6821f 33.33333%, #f6821f 50%, #df3a3e 50%, #df3a3e 66.66667%, #963d97 66.66667%, #963d97 83.33333%, #029ddd 83.33333%, #029ddd 100%);
  background-image: linear-gradient(#60bb44 0%, #60bb44 16.66667%, #fcb827 16.66667%, #fcb827 33.33333%, #f6821f 33.33333%, #f6821f 50%, #df3a3e 50%, #df3a3e 66.66667%, #963d97 66.66667%, #963d97 83.33333%, #029ddd 83.33333%, #029ddd 100%);
}
.apple.colour .butt:before, .apple.colour .butt:after {
  background-color: #029ddd;
}
.apple.colour .top:after, .apple.colour .top:before, .apple.colour .top span::after {
  background-color: #60bb44;
}

@-webkit-keyframes spinY {
  0% {
    -webkit-transform: rotateY(0deg);
    -webkit-transform-origin: 0% 0% 5;
  }

  100% {
    -webkit-transform: rotateY(360deg);
    -webkit-transform-origin: 0% 0% 5;
  }
}

.apple-container {
  width: 40px;
  height: 40px;
  background-color: #415259;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  border-radius: 35px;
  position: relative;
  overflow: hidden;
  -webkit-transition: width 0.2s ease-out;
  -moz-transition: width 0.2s ease-out;
  -o-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
  margin-top: 1em;
}
.apple-container p {
  opacity: 0;
  font-family: "Helvetica Neue", "Helvetica", Arial, Sans-serif;
  font-weight: bold;
  padding: 0 0 0 45px;
  line-height: 42px;
  font-size: 14px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  width: 260px;
  color: #2c3437;
}
.apple-container:hover {
  width: 180px;
  background-color: #ffffee;
  -webkit-transition: width 0.2s ease-out;
  -moz-transition: width 0.2s ease-out;
  -o-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
}
.apple-container:hover .apple {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #60bb44), color-stop(16.66667%, #60bb44), color-stop(16.66667%, #fcb827), color-stop(33.33333%, #fcb827), color-stop(33.33333%, #f6821f), color-stop(50%, #f6821f), color-stop(50%, #df3a3e), color-stop(66.66667%, #df3a3e), color-stop(66.66667%, #963d97), color-stop(83.33333%, #963d97), color-stop(83.33333%, #029ddd), color-stop(100%, #029ddd));
  background-image: -webkit-linear-gradient(#60bb44 0%, #60bb44 16.66667%, #fcb827 16.66667%, #fcb827 33.33333%, #f6821f 33.33333%, #f6821f 50%, #df3a3e 50%, #df3a3e 66.66667%, #963d97 66.66667%, #963d97 83.33333%, #029ddd 83.33333%, #029ddd 100%);
  background-image: -moz-linear-gradient(#60bb44 0%, #60bb44 16.66667%, #fcb827 16.66667%, #fcb827 33.33333%, #f6821f 33.33333%, #f6821f 50%, #df3a3e 50%, #df3a3e 66.66667%, #963d97 66.66667%, #963d97 83.33333%, #029ddd 83.33333%, #029ddd 100%);
  background-image: -o-linear-gradient(#60bb44 0%, #60bb44 16.66667%, #fcb827 16.66667%, #fcb827 33.33333%, #f6821f 33.33333%, #f6821f 50%, #df3a3e 50%, #df3a3e 66.66667%, #963d97 66.66667%, #963d97 83.33333%, #029ddd 83.33333%, #029ddd 100%);
  background-image: linear-gradient(#60bb44 0%, #60bb44 16.66667%, #fcb827 16.66667%, #fcb827 33.33333%, #f6821f 33.33333%, #f6821f 50%, #df3a3e 50%, #df3a3e 66.66667%, #963d97 66.66667%, #963d97 83.33333%, #029ddd 83.33333%, #029ddd 100%);
  -webkit-animation: spinY 2s linear infinite;
}
.apple-container:hover .apple .top {
  background: #ffffee;
}
.apple-container:hover .apple .top span {
  background: #ffffee;
}
.apple-container:hover .apple .butt {
  background: #ffffee;
}
.apple-container:hover .apple .butt span {
  background: #ffffee;
}
.apple-container:hover .apple .bite {
  background: #ffffee;
}
.apple-container:hover .butt:before, .apple-container:hover .butt:after {
  background-color: #029ddd;
}
.apple-container:hover .top:after, .apple-container:hover .top:before, .apple-container:hover .top span::after {
  background-color: #60bb44;
}
.apple-container:hover p {
  opacity: 1;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* Shape */
.apple {
  width: 25px;
  height: 22px;
  border-radius: 36% 36% 41% 41%/42% 42% 75% 75%;
  position: absolute;
  top: 12px;
  left: 8px;
}
.apple .bite {
  position: absolute;
  width: 60%;
  height: 62%;
  right: -40%;
  top: 8%;
  border-radius: 60%;
}
.apple .butt {
  position: absolute;
  width: 100%;
  height: 4%;
  bottom: -1%;
}
.apple .butt span {
  display: block;
  position: absolute;
  border-radius: 100% 100% 0% 0%;
  width: 24.5%;
  height: 400%;
  bottom: -239%;
  left: 38%;
}
.apple .butt:before {
  content: "";
  position: absolute;
  width: 24%;
  height: 400%;
  border-radius: 0% 0% 100% 100%;
  left: 21%;
  bottom: 38%;
}
.apple .butt:after {
  content: "";
  position: absolute;
  width: 23.4%;
  height: 400%;
  border-radius: 0% 0% 100% 100%;
  right: 21%;
  bottom: 38%;
}
.apple .top {
  position: absolute;
  width: 42%;
  height: 4%;
  top: 0px;
  left: 29%;
}
.apple .top span {
  display: block;
  position: absolute;
  border-radius: 0 0 60% 60%/0 0 100% 100%;
  width: 69%;
  height: 259%;
  top: -113%;
  left: 16%;
  z-index: 3;
}
.apple .top span:after {
  border-radius: 100% 0 100% 0;
  content: "";
  height: 360%;
  left: 34%;
  position: absolute;
  top: -300%;
  width: 96%;
}
.apple .top:before {
  content: "";
  position: absolute;
  width: 62%;
  height: 260%;
  border-radius: 100% 100% 0% 0%/100% 200% 0% 0%;
  left: -27%;
  top: 1%;
}
.apple .top:after {
  content: "";
  position: absolute;
  width: 62%;
  height: 260%;
  border-radius: 100% 100% 0% 0%/200% 100% 0% 0%;
  right: -27%;
  top: 1%;
}

.third {
  width: 33%;
  float: left;
}

pre > .editable-styles {
  border: 1px solid #eeeeee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.editable-styles {
  display: block;
  height: 700px;
  overflow: scroll;
  background: white;
  font-size: 14px;
  padding-left: 10px;
}

.apple-container {
  display: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .apple-container {
    display: block;
  }
}
/* Phone example */
.thirty-percent {
  width: 30%;
  float: left;
}

.seventy-percent {
  width: 70%;
  float: left;
}

/* Overrides */
@media only screen and (max-width: 800px) {
  /* Style adjustments for smaller screens */
  section.content, section.footer-content {
    width: auto;
    float: none;
    padding: 0 20px;
  }

  p {
    font-size: 0.85em;
    line-height: 1.76471em;
  }

  img {
    max-width: 100%;
  }

  h1 {
    font-size: 1.2em;
    line-height: 1.25em;
  }

  h2 {
    font-size: 1.1em;
    line-height: 1.36364em;
  }

  pre code {
    font-size: 0.6em;
    line-height: 2.5em;
    line-height: 18px;
  }

  header {
    min-height: 90px;
  }

  article header .date {
    margin-top: -26px;
    font-size: 0.7em;
    line-height: 2.14286em;
  }

  .thirty-percent, .seventy-percent {
    width: 90%;
    margin: 0 auto;
    float: none;
  }

  .bouncer-container {
    top: 30px;
  }
}
@media only screen and (max-width: 400px) {
  section.content {
    padding: 0 15px;
  }

  p {
    font-size: 0.8em;
    line-height: 1.875em;
    line-height: 1.65em;
  }
}
