@font-face {
  font-family: "myriad-pro";
  src: url("../fonts/MyriadPro-Regular.otf");
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

@keyframes show-calendar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Overrides for the date picker */
.daterangepicker {
  box-shadow: none;
  margin-top: 6px;
  font-size: 12px;
  border-radius: 2px;
  /*target Internet Explorer 9 and Internet Explorer 10:*/
}

.daterangepicker.taller .calendar {
  height: 500px;
}

.daterangepicker.range {
  min-width: 134px;
  height: 254px;
}

.daterangepicker.range .applyBtn {
  display: none !important;
}

.daterangepicker.range .calendar {
  height: 460px;
  display: none !important;
}

.daterangepicker.range .inline-timezone {
  display: none;
}

.daterangepicker.range.show-calendar {
  height: 520px;
  width: 420px;
}

.daterangepicker.range.show-calendar .calendar {
  display: block !important;
}

.daterangepicker.range.show-calendar .applyBtn {
  display: block !important;
}

.daterangepicker.range.show-calendar .inline-timezone {
  display: block !important;
}

.daterangepicker .ranges ul {
  width: 180px;
}

.daterangepicker .ranges li {
  padding: 0.5em 1em;
}

.daterangepicker.single .calendar.right {
  display: none !important;
}

.daterangepicker .applyBtn, .daterangepicker .cancelBtn {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.daterangepicker .cancelBtn {
  right: 70px;
}

.daterangepicker .prev i {
  background: url(../images/leftarrow_off@2x.png) center no-repeat;
}

.daterangepicker .next i {
  background: url(../images/rightarrow_off@2x.png) center no-repeat;
}

.daterangepicker .prev i,
.daterangepicker .next i {
  font-family: none !important;
  text-indent: -9999px;
  border: 1px solid #639DCD;
  border-radius: 50%;
  background-size: 17px 11px;
  width: 32px !important;
  height: 32px !important;
  padding: 0 !important;
  transition: background-color 0.2s ease-out;
}

.daterangepicker .prev:hover i,
.daterangepicker .next:hover i {
  border-color: #639DCD;
  background-color: #639DCD;
}

.daterangepicker .prev:hover i {
  background-image: url(../images/leftarrow_on@2x.png);
}

.daterangepicker .next:hover i {
  background-image: url(../images/rightarrow_on@2x.png);
}

.daterangepicker .btn-success {
  color: #fff;
  background-color: #639dcc;
  border-color: #5091c6;
}

.daterangepicker .daterangepicker_input input, .daterangepicker .daterangepicker_input i {
  display: none;
}

.daterangepicker .calendar {
  height: 430px;
  width: 330px;
  position: relative;
}

.daterangepicker .calendar th,
.daterangepicker .calendar td {
  width: 38px;
  height: 30px;
  max-width: 32px;
}

.daterangepicker .daterangepicker_input {
  position: absolute;
  top: 320px;
  width: 100%;
  border-top: 1px solid #eee;
}

.daterangepicker .inline-timezone {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 60px;
  border-top: 1px solid #eee;
}

.daterangepicker .inline-timezone label {
  font-size: 10px;
  padding: 10px 0 0 10px;
}

.daterangepicker .inline-timezone select {
  background: url(../images/chevron@2x.png) 99%/10px no-repeat #fff !important;
  font-size: 14px;
  margin: 0 10px;
  width: calc(100% - 20px);
}

.daterangepicker .calendar.right {
  right: -6px;
}

.daterangepicker .calendar-table {
  background: none;
  border: none;
}

.daterangepicker .calendar-time {
  text-align: left;
  margin: 0;
  margin-left: -10px;
  padding-top: 24px;
  padding-left: 15px;
  color: #626F77;
  position: relative;
}

.daterangepicker .calendar-time:before {
  content: "TIME";
  position: absolute;
  top: 0;
  left: 15px;
  font-size: 10px;
}

.daterangepicker .calendar-time select, .daterangepicker .inline-timezone select {
  border: 1px solid #eee;
  background: transparent;
  height: 32px;
  padding: 0 12px;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../images/chevron@2x.png) 90%/10px no-repeat #fff;
}

@media screen and (min-width: 0\0) {
  .daterangepicker select {
    background: none;
    padding: 5px;
  }
}

.daterangepicker th, .daterangepicker td {
  color: #626F77;
  font-weight: normal;
}

.daterangepicker td {
  position: relative;
  line-height: 27px;
}

.daterangepicker td.today {
  color: #626F77;
}

.daterangepicker td:before {
  left: 2px;
  width: 30px;
  height: 30px;
  z-index: -1;
}

.daterangepicker td:after {
  top: 1px;
  height: 30px;
  z-index: -2;
}

.daterangepicker td:before,
.daterangepicker td:after {
  content: "";
  position: absolute;
  top: 1px;
  transition: opacity 0.2s ease-out;
}

.daterangepicker td.today:before,
.daterangepicker td.start-date:before,
.daterangepicker td.end-date:before {
  border: 1px solid #639DCD;
  border-radius: 50%;
}

.daterangepicker td.start-date,
.daterangepicker td.end-date {
  color: #fff !important;
}

.daterangepicker td.start-date:before,
.daterangepicker td.end-date:before {
  background-color: #639DCD;
}

.daterangepicker th.available:hover,
.daterangepicker td.available:hover {
  background: none;
  color: #fff;
}

.daterangepicker td.available:hover:after {
  background: #C5DBEB;
  right: 0;
  left: 50%;
  width: 30px;
  transform: translateX(-50%);
  border-radius: 50%;
}

.daterangepicker td.start-date.end-date:hover:after,
.daterangepicker td.start-date.end-date:after {
  background: #fff !important;
}

.daterangepicker td.start-date:hover:after,
.daterangepicker td.start-date:after {
  left: 50%;
  right: -1px;
  background: #C4DAEC;
}

.daterangepicker td.end-date:after,
.daterangepicker td.end-date:hover:after {
  right: 50%;
  left: -1px;
  background: #C4DAEC;
}

.daterangepicker td.today:after,
.daterangepicker td.in-range {
  background: none;
}

.daterangepicker td.off {
  opacity: 0.4;
}

.daterangepicker td.in-range:after {
  left: 0px !important;
  right: -1px !important;
  background: #C4DAEC;
}

.daterangepicker td.in-range:hover:after {
  border-radius: 0 !important;
  left: 0;
  right: 0;
  transform: none;
  width: 102%;
}

.daterangepicker td.end-date:after,
.daterangepicker td.end-date:hover:after {
  right: 50% !important;
  width: 15px !important;
  transform: translateX(0);
  border-radius: 0;
}

.daterangepicker td.start-date:after,
.daterangepicker td.start-date:hover:after {
  left: 50% !important;
  width: 18px !important;
  transform: translateX(0);
  border-radius: 0;
}

.daterangepicker td.in-range:first-child:after,
.daterangepicker td.in-range:first-child:hover:after {
  border-radius: 50% 0 0 50% !important;
}

.daterangepicker td.start-date:not(.in-range):after,
.daterangepicker td.start-date:not(.in-range):hover:after {
  background: none;
}

.daterangepicker td.start-date + td.in-range:after {
  left: -15px !important;
  width: 60px;
}

.daterangepicker td.in-range + td.active:after {
  background: #C4DAEC !important;
}

.daterangepicker td.in-range:last-child:after,
.daterangepicker td.in-range + td:not(.in-range):hover:after {
  left: 0;
  transform: none;
  border-radius: 0 50% 50% 0 !important;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
  background: none;
}

.daterangepicker .table-condensed tr:first-child th {
  padding-bottom: 1em;
}
