.half {
  width: 50%;
  float:left;
}

.transparent {
   border:none !important;
   background:none !important;
   box-shadow:none !important;
}

/* Tweets CSS
 * For use with the Tweets Node.js app plugin: http://hop.ie/tweets-plugin/
 * Usage: create a div with class 'tweets' to store your tweets
 */

 .tweets {
  width: 100%;
  height: 700px;
  margin: 0;
  position: absolute !important;
  background-color: #fffaff;
  border: 4px solid #ced5d3;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
  border-radius: 2em;
  padding: 1em 0;
  overflow: auto;
  text-align: left;
  position: relative;
  font-size: 24px !important;
}
.tweets span.source {
  color: #cccccc;
  font-size: 0.75em;
  position: absolute;
  right: 1.5em;
  top: 0.75em;
}
.tweets .tweet {
  width: 86%;
  margin: 2%;
  padding: 0.5em 5% 0 5%;
  background-color: #fcf5ea;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.tweets .tweet.new {
  opacity: 0;
}
.tweets .tweet .user-details {
  margin-bottom: -5px;
}
.tweets .tweet .user-details a {
  color: #444444;
  text-decoration: none;
}
.tweets .tweet .user-details .user-image {
  display: inline-block;
  margin: 0 0.25em -4px 0;
  width: 48px;
  height: 48px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}
.tweets .tweet .user-details p {
  display: inline-block;
  padding: 0;
  line-height: 1em;
}
.tweets .tweet .user-details p strong {
  display: block;
  margin-top: -50px;
}
.tweets .tweet .user-details p span {
  display: block;
  font-size: 0.75em;
}
.tweets .tweet p.text {
  padding: 0.25em 0;
}
.tweets .tweet p.timing {
  padding-top: 0;
  font-size: 0.5em;
  margin-top: -1em;
  padding-bottom: 1em;
}
.tweets .tweet p.timing a {
  text-decoration: none;
  color: #888888;
}