<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% if page.title %} {{ page.title }} - {% endif %} hop.ie</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}Thoughts from Donovan's brain{% endif %}">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/stylesheets/screen.css">
    <link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold" rel="stylesheet" type="text/css">
    <link rel="canonical" href="{{ page.url | canonical }}">
    <script src="/javascripts/modernizr.js"></script>
</head>
<body>
  <div class="page-container">
  	<header>
  		<h1 class="bouncer-container"><a href="/">Donovan Hutchinson</a></h1>
  	</header>

  	<div class="page clearfix">
  	  <section class="sidebar">
  	    <p><a href="http://twitter.com/donovanh">@donovanh</a></p>
  		</section>
    	<section class="content">
    		{{ content }}
    	</section>
    </div>
  </div>
	<footer>
		<p>&copy; 2012 Donovan Hutchinson</p>
	</footer>

  <script id="bouncer-template" type="text/html">
    <span class="mask"></span>
    <span class="bounce1"></span>
	  <span class="bounce2"></span>
	  <span class="bounce3"></span>
	  <span class="bouncer">
	    <span class="ear1"></span>
	    <span class="ear2"></span>
	    <span class="eye1"></span>
	    <span class="eye2"></span>
	    <span class="mouth"></span>
	  </span>
  </script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/javascripts/jquery.min.js"><\/script>')</script>
  <script src="/javascripts/mustache.js"></script>
  <script src="/javascripts/main.js"></script>
  <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
