---
layout: default
---

<article>

  <header class="post">
    <h1 id="responsive_headline">{{ page.title }}</h1>
    <p class="date">{{ page.date | date: "%B %d, %Y" }}</p>
  </header>

  <section class="entry">
    {{ content }}
    <!-- Begin MailChimp Signup Form -->
    <div class="email-signup">
      <form action="http://hop.us7.list-manage.com/subscribe/post?u=07ab661c8a6f6b3ec4c98c791&amp;id=7daf5f7db7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <h2>If you enjoyed this article...</h2>
        <p>You'll love <a href="http://learnsome.co">Learnsome.co</a>.</p>
        <p>I'm putting together a new site to teach you all the latest CSS techniques. Sign up and you'll be first to know when it's ready.</p>
        <input type="email" value="" placeholder="Your email address" name="EMAIL" class="email">
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_07ab661c8a6f6b3ec4c98c791_7daf5f7db7" value=""></div>
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </form>
    </div>

    <!--End mc_embed_signup-->
    <div class="ad-container" style="display:none">
      <aside id="fusion_ad"><a class="fusion-link" href="/go/fusion">Powered by Fusion</a></aside>
    </div>
  </section>

</article>

