---
layout: default
---

<article>

  <header class="post">
    <h1 id="responsive_headline">{{ page.title }}</h1>
    <p class="date">{{ page.date | date: "%B %d, %Y" }}</p>
  </header>

  <section class="entry">
    {{ content }}
    <!-- Begin MailChimp Signup Form -->
    <!-- <div class="email-signup">
      <form action="http://hop.us7.list-manage.com/subscribe/post?u=07ab661c8a6f6b3ec4c98c791&amp;id=7daf5f7db7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <img src="http://learnsome.co/images/bulb.svg">
        <h2>If you enjoyed this...</h2>
        <p>You'll love <a href="http://learnsome.co">Learnsome.co</a>.</p>
        <p>Level-up your front-end web design and development. Sign up now to get our first screencast <strong>free</strong>.</p>
        <input type="email" value="" placeholder="Your email address" name="EMAIL" class="email">
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_07ab661c8a6f6b3ec4c98c791_7daf5f7db7" value=""></div>
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </form>
    </div> -->

    <!--End mc_embed_signup-->
    <div class="ad-container">
      <script type="text/javascript" src="//cdn.fusionads.net/fusion.js?zoneid=1332&serve=C6SDP2Y&placement=hopie" id="_fusionads_js"></script>
    </div>
  </section>

</article>