<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% if page.title %} {{ page.title }} - {% endif %} hop.ie</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/stylesheets/screen.css">
    <!--[if IE]>
      <link rel="stylesheet" href="/stylesheets/ie.css">
    <![endif]-->
    <link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:regular" rel="stylesheet" type="text/css">
    <link rel="canonical" href="{{ page.url | canonical }}">
    <script type="text/javascript">
    <!--
      window.location = "{{ page.target }}"
    //-->
    </script>
</head>
<body>
  <div class="page-container">
  	<header>
  		<p>Redirecting to <a href="{{ page.target }}"></a></p>
  	</header>

</body>
</html>
